projects/discharge-summary-ai-draft-n8n/impl/workflow.demo.json
{
  "name": "입퇴원 요약 AI 초안 (DEMO · 합성)",
  "_comment": "가상 재구현본. 실제 환자 임상데이터·EMR 인증·양식코드·LLM 키 미포함. 구조 확인용.",
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Asia/Seoul", "executionTimeout": 5400 },
  "nodes": [
    { "parameters": {}, "id": "t1", "name": "트리거 (스케줄/챗/exec)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [ 200, 300 ] },
    { "parameters": { "operation": "executeQuery", "query": "SELECT patient_id, note_id FROM demo_target_patients WHERE dept = :dept", "options": {} }, "id": "q1", "name": "대상자 조회 (담당의 필터)", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [ 420, 300 ] },
    { "parameters": { "jsCode": "// CLOB 조각조회(1000자x12) 병합 재현\nconst rows = $input.all();\nreturn rows.map(r => ({ json: { patient_id: r.json.patient_id, note: (r.json.chunks||[]).join('') } }));" }, "id": "c1", "name": "CLOB 조각 병합", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 640, 300 ] },
    { "parameters": { "options": {} }, "id": "l1", "name": "LLM 초진", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [ 860, 120 ] },
    { "parameters": { "options": {} }, "id": "l2", "name": "LLM 치료과정", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [ 860, 220 ] },
    { "parameters": { "options": {} }, "id": "l3", "name": "LLM 검사결과", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [ 860, 320 ] },
    { "parameters": { "options": {} }, "id": "l4", "name": "LLM 투약처방", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [ 860, 420 ] },
    { "parameters": { "options": {} }, "id": "l5", "name": "LLM 추후계획", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [ 860, 520 ] },
    { "parameters": { "numberInputs": 5 }, "id": "m1", "name": "Merge 동기화 게이트(5)", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [ 1100, 320 ] },
    { "parameters": { "jsCode": "// 품질규칙: 원문없음→null, 과다생성 차단 후 8항목 병합\nreturn [{ json: { patient_id: $json.patient_id, items: $json.items } }];" }, "id": "qc", "name": "품질규칙 + 병합", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ 1320, 320 ] },
    { "parameters": { "method": "POST", "url": "={{ $env.DEMO_EMR_URL }}", "options": {} }, "id": "ld", "name": "EMR 임시저장 적재", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [ 1540, 320 ] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true }, "conditions": [ { "leftValue": "={{ $json.http_status }}", "rightValue": 200, "operator": { "type": "number", "operation": "equals" } }, { "leftValue": "={{ $json.error_code }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }, { "leftValue": "={{ $json.issuc }}", "rightValue": "Y", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } }, "id": "if1", "name": "성공판정 3중조건", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [ 1760, 320 ] },
    { "parameters": { "operation": "append", "documentId": "={{ $env.DEMO_AUDIT_SHEET }}", "sheetName": "audit", "options": {} }, "id": "a1", "name": "감사로그", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [ 1980, 220 ] },
    { "parameters": { "sendTo": "={{ $env.DEMO_ALERT_TO }}", "subject": "적재 실패 알림", "message": "적재 실패(silent 포함) 확인 필요", "options": {} }, "id": "g1", "name": "실패 메일 알림", "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 1980, 420 ] }
  ],
  "connections": {
    "트리거 (스케줄/챗/exec)": { "main": [ [ { "node": "대상자 조회 (담당의 필터)", "type": "main", "index": 0 } ] ] },
    "대상자 조회 (담당의 필터)": { "main": [ [ { "node": "CLOB 조각 병합", "type": "main", "index": 0 } ] ] },
    "CLOB 조각 병합": { "main": [ [ { "node": "LLM 초진", "type": "main", "index": 0 }, { "node": "LLM 치료과정", "type": "main", "index": 0 }, { "node": "LLM 검사결과", "type": "main", "index": 0 }, { "node": "LLM 투약처방", "type": "main", "index": 0 }, { "node": "LLM 추후계획", "type": "main", "index": 0 } ] ] },
    "LLM 초진": { "main": [ [ { "node": "Merge 동기화 게이트(5)", "type": "main", "index": 0 } ] ] },
    "LLM 치료과정": { "main": [ [ { "node": "Merge 동기화 게이트(5)", "type": "main", "index": 1 } ] ] },
    "LLM 검사결과": { "main": [ [ { "node": "Merge 동기화 게이트(5)", "type": "main", "index": 2 } ] ] },
    "LLM 투약처방": { "main": [ [ { "node": "Merge 동기화 게이트(5)", "type": "main", "index": 3 } ] ] },
    "LLM 추후계획": { "main": [ [ { "node": "Merge 동기화 게이트(5)", "type": "main", "index": 4 } ] ] },
    "Merge 동기화 게이트(5)": { "main": [ [ { "node": "품질규칙 + 병합", "type": "main", "index": 0 } ] ] },
    "품질규칙 + 병합": { "main": [ [ { "node": "EMR 임시저장 적재", "type": "main", "index": 0 } ] ] },
    "EMR 임시저장 적재": { "main": [ [ { "node": "성공판정 3중조건", "type": "main", "index": 0 } ] ] },
    "성공판정 3중조건": { "main": [ [ { "node": "감사로그", "type": "main", "index": 0 } ], [ { "node": "실패 메일 알림", "type": "main", "index": 0 } ] ] }
  }
}
